// 主色
$theme-color: #1989fa;

// 其他颜色
$background-color: #fff;
$disable-color: #bfbfbf;
$cutline-color: #f7f8fa;

// 字体
$base-color: #000;
$base-font: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$base-font-size: 12px;