* {
  margin: 0;
  padding: 0;
  &, &:after, &:before {
    box-sizing:border-box;
    -webkit-tap-highlight-color: transparent;
  }
}
address, cite, dfn, em, var {
	font-style: normal;
}
ul, ol, li {
	list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
fieldset, img, button {
	border: none 0;
}
button, input, select, textarea {
	font-size: 100%;
}
button { 
	background: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
em {
	font-style: normal;
}
input, textarea{
	appearance: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}
html, body {
  width:100%;
  height: 100%;
}
body {
	font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  user-select: none;
  text-size-adjust: none;
  background-color: #fff;
}